.face {
    height: 6rem;
}

.back {
    height: 6rem;
    width: 6rem;
    background-color: var(--back-of-cards-color);
    border: 1px solid var(--back-of-cards-border-color);
    border-radius: 50%;
}

.item .face {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.25s;
    border-radius: 50%;

}

.toggled .face {
    transform: rotateY(0deg);
    transition-delay: 0.25s;
}

.item .back {
    transition: all ease-in 0.25s;
    transition-delay: 0.25s;
}

.toggled .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}