.game-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    align-self: start;
    font-size: 2.5rem;
    color: rgb(255, 0, 0);

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    background-color: red;
    color: white;
    margin-top: 4px;
}

.button:hover {
    border: 2px solid black;
    cursor: pointer;
}



.board {
    display: grid;
    margin: auto;
    margin-top: 3rem;
    grid-template-columns: repeat(6, 9rem);
    place-items: center;
    row-gap: 2rem;
}

.comments {
    padding: 0.25rem 1rem;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 2rem;
}