.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    align-self: start;
    font-size: 2.5rem;
    color: rgb(255, 0, 0);

}

.buttons{
    align-self: center;
}

.to-menu-btn, .newGame-btn, .play_again_btn, .menu-btn{
    align-items: center;
    justify-content: center;    
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    color: white;
    margin-top: 4px;
}
.to-menu-btn, .newGame-btn, .play_again_btn{
    width: 200px;
}
.to-menu-btn, .newGame-btn, .menu-btn {
    background-color:red;
}

.to-menu-btn, .newGame-btn{
    display: inline;
}

.to-menu-btn{
    margin-right: 5px;
}

.button:hover {
    border: 2px solid black;
    cursor: pointer;
}



.board {
    display: grid;
    grid-template-columns: repeat(6, 9rem);
    place-items: center;
    row-gap: 2rem;
}

.comments {
    padding: 0.25rem 1rem;
    background-color: white;
    width: 150px;
    align-self: center;
    border-radius: 2rem;
    text-align: center;
    margin: 7px;
}

.win_screen{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 270px;
    width: 400px;
    background-color: red;
    border-radius: 30px;
    color: white;
}

.win_screen .win_text{
    font-size: 50px;
    height: 80%;
    align-content: center;
    text-align: center;
}

.play_again_btn{
    background-color: hsl(1, 0%, 7%);
    align-self: center;
}

.win_text p{
    color: green;
}