.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (min-height: 645px) {
    .game-container {
        height: 100vh;
    }
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    text-align: center;
}
h1 {
    align-self: start;
    font-size: 4em;
    color: rgb(255 0 0 / 63%);
    text-decoration: underline;
    margin-bottom: 20px;
    color: #eea8b8;
    text-decoration-color: #eea8b8;
    -webkit-text-stroke: 1px black;

}

.buttons{
    align-self: center;
    text-align: center;
}

.to-menu-btn, .newGame-btn, .play_again_btn, .menu-btn{
    align-items: center;
    justify-content: center;    
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    color: var(--btn-text-color);
    margin-top: 4px;
}
.to-menu-btn, .newGame-btn, .menu-btn {
    background-color: var(--button-background-color);
}

.to-menu-btn, .newGame-btn{
    display: inline;
}

.to-menu-btn{
    margin-right: 5px;
}

.board {
    display: grid;
    place-items: center;
    row-gap: 2rem;
}

.board.difficulty-beginner {
    grid-template-columns: repeat(4, 9rem);
}

.board.difficulty-intermediate {
    grid-template-columns: repeat(4, 9rem);
}

.board.difficulty-advanced {
    grid-template-columns: repeat(6, 9rem);
}

.comments {
    padding: 0.25rem 1rem;
    background-color: var(--game-board-comments-background-color);
    color: var(--game-board-comments-text-color);
    width: 150px;
    align-self: center;
    border-radius: 2rem;
    text-align: center;
    margin: 7px;
}

.win_screen,  .multiplayer-win_screen{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 270px;
    width: 400px;
    background-color: var(--win-screen-background-color);
    border-radius: 30px;
    color: var(--win-screen-text-color);
    justify-content: center;
}


.win_screen .win_text, .multiplayer-win_screen{
    font-size: 50px;
    align-content: center;
    text-align: center;
}
.multiplayer-win_screen{
    height: 350px;
}
.play_again_btn{
    background-color: hsl(1, 0%, 7%);
    align-self: center;
}

.win_text span{
    color: var(--win-move-text-color);
}


.player-one{
    background-color: var(--player1-color);
    color : var(--player1-text-color);
}

.player-two{
    background-color: var(--player2-color);
    color : var(--player2-text-color);
}

@media (max-width: 822px) {
    .board{
        row-gap: 1em;
    }
    .board.difficulty-beginner {
        grid-template-columns: repeat(4, 6.5rem);
    }

    .board.difficulty-intermediate {
        grid-template-columns: repeat(4, 6.5rem);
    }

    .board.difficulty-advanced {
        grid-template-columns: repeat(6, 7rem);
    }
}


@media (max-width: 688px) {
    .board{
        row-gap: .5em;
    }
    .board.difficulty-beginner .back, .board.difficulty-beginner .face {
        height: 5em;
        width: 5em;
    }
    .board.difficulty-beginner {
        grid-template-columns: repeat(3, 5.5rem);
    }

    .board.difficulty-advanced .back, .board.difficulty-advanced .face,.board.difficulty-intermediate .back, .board.difficulty-intermediate .face {
        height: 5em;
        width: 5em;
    }
    .board.difficulty-advanced, .board.difficulty-intermediate {
        grid-template-columns: repeat(4, 5.5rem);
    }
}

@media (max-width: 344px) {

    .board.difficulty-beginner .back, .board.difficulty-beginner .face {
        height: 4em;
        width: 4em;
    }

    .board.difficulty-beginner {
        grid-template-columns: repeat(3, 4.5rem);
    }

    .board.difficulty-intermediate .back, .board.difficulty-intermediate .face {
        height: 3.3em;
        width: 3.3em;
    }
    .board.difficulty-intermediate {
        grid-template-columns: repeat(4, 3.5rem);
    }

    .board.difficulty-advanced .back, .board.difficulty-advanced .face {
        height: 3.5em;
        width: 3.5em;
    }
    .board.difficulty-advanced {
        grid-template-columns: repeat(4, 3.7rem);
    }
}

@media (max-width: 235px) {

    .board.difficulty-advanced .back, .board.difficulty-advanced .face {
        height: 3em;
        width: 3em;
    }
    .board.difficulty-intermediate {
        grid-template-columns: repeat(4, 3.25rem);
    }

    .board.difficulty-advanced {
        grid-template-columns: repeat(4, 3.2rem);
    }
}
@media (max-width: 210px) {

        .board.difficulty-intermediate .back, .board.difficulty-intermediate .face {
        height: 2.5em;
        width: 2.5em;
    }
    .board.difficulty-intermediate {
        grid-template-columns: repeat(4, 2.5rem);
    }

    .board.difficulty-advanced .back, .board.difficulty-advanced .face {
        height: 2.5em;
        width: 2.5em;
    }
    .board.difficulty-advanced {
        grid-template-columns: repeat(4, 2.7rem);
    }

}

