* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-color: rgb(248, 232, 180);
    height: 100%;
    margin: 0;
}

.home {           /* whatever your page wrapper is */
  min-height: 100vh;
  height: auto;
}

.home {
    position: relative;
}
