:root{
    --background-color: rgb(248, 232, 180);
    --btn-text-color : white;
    --button-background-color: red;
    --menu-background-color: white;
    --switch-on-color: #4CAF50;
    --switch-off-color: #ccc;
    --switch-thumb-color: white;
    --selected-difficulty-color: #4CAF50;
    --selected-difficulty-text-color: white;
    --not-selected-difficulty-color: #e7e7e7;
    --not-selected-difficulty-text-color: black;
    --close-btn-color: black;
    --close-btn-hover-color: gray;
    --header-color: #ff0000;
    --player1-color: #1E90FF;
    --player2-color: #FF4500;
    --player1-text-color: white;
    --player2-text-color: white;
    --win-move-text-color: green;
    --win-screen-background-color: red;
    --win-screen-text-color: white;
    --game-board-comments-background-color: white;
    --game-board-comments-text-color: black;
    --category-card-background-color: rgb(255, 115, 0);
    --category-btn-background-color: red;
    --category-btn-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
}

.home {           /* whatever your page wrapper is */
  min-height: 100vh;
  height: auto;
  position: relative;
}

body{
    align-content: center;
}

