body{
    background-color: rgb(248, 232, 180);
}
.container{
    height: 100vh;
    align-content: center;
    
}
h1{
    justify-self: center;
}

.options{
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-items: center;
    padding-top: 10px;
}

.categories{
    display: flex;
    flex-direction: column;
    place-self: center;
    background-color: rgb(255, 115, 0);
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.categories img{
    width: 200px;
    border-radius: 15px;
    
}

.category_btn{
    all: unset;
    cursor: pointer;
}

.category_label{
    align-items: center;
    justify-content: center;    
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    background-color: red;
    color: white;
    margin-top: 4px;
    text-align: center;
}