.container{
    height: 100vh;
    align-content: center;
    
}
h1{
    justify-self: center;
}

.options{
    justify-self: center;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 1rem;
    justify-items: center;
    padding-top: 10px;
    width: 100%;
}

.categories{
    
    display: flex;
    flex-direction: column;
    place-self: center;
    background-color: var(--category-card-background-color);
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 220px;
}

.categories img{
    width: 100%;
    border-radius: 15px;
    height: auto;
    aspect-ratio: 1/1;
    display: block;
    
}

.category_btn{
    all: unset;
    cursor: pointer;
}

.category_label{
    align-content: center;
    width: 100%;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    background-color: var(--category-btn-background-color);
    color: var(--category-btn-text-color);
    margin-top: 4px;
    text-align: center;
    overflow: hidden;
    height: 3.4rem;
}