button{
    align-items: center;
    justify-content: center;    
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    background-color: red;
    color: white;
    margin-top: 4px;
}