.modes-list {
  display: flex;
  gap: 0.75rem;
  list-style: none;   /* removes bullets */
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.modes-list label{
    align-content: center;
    margin-right: 10px;
    font-weight: bold;
    color: var(--menu-text-color);
}
.difficulty, .selected-diff{
    border-radius: 5px;
    padding: 10px 10px;
    border-color: var(--back-of-cards-border-color);
}
.selected-diff{
    background-color: var(--selected-difficulty-color);
    color: var(--selected-difficulty-text-color);
}
.difficulty{
    background-color: var(--not-selected-difficulty-color);
    color: var(--not-selected-difficulty-text-color);
    cursor: pointer;
}

.difficulty:hover {
    background-color: var(--difficulty-hover-color);
}

@media (max-width: 420px) {
  .modes-list{
    gap: 1px;
  }
}

@media (max-width: 380px) {
  .modes-list{
    flex-direction: column;
    align-items: flex-start;
  }
  .menus-options li{
    align-self: center;
  }
  .difficulty, .selected-diff{
    width: 100px;
    margin-top: 10px;
  }
}