.switch-label{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.switch_background{
    width: 50px;
    height: 25px;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.3s;
}

.switch_position_changer{
    position: absolute;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: var(--switch-thumb-color);
    border-radius: 50%;
    transition: left 0.3s;
}

.no-select{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 200px) {
  .multiplayer-label{
    display: grid;
  }
}