.multiplayer-label{
    display: "flex";
    align-items: "center";
    cursor: "pointer";
    font-weight: bold;
}

.multi_switch_background{
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.3s;
}

.multi_switch_position_changer{
    position: absolute;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s;
}

.no-select{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
